@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.container {
  background-image: url("./images/bgtile.png");
  background-size: 1px 280px;
  background-repeat: repeat-x;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 30px;
  /* border: 5px solid red; */
}

.container > img {
  /* border: 3px solid pink; */
}

.container > div {
  width: 40%;
  margin-left: 50px;
  /* border: 3px solid green; */
}

.sec-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px;
  /* border: 2px solid black; */
}

.sec-box > button {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  border-color: #5588B2;
  width: 90px;
  size: fixed;
  height: 40px;
  background-color: #5588B2;
  margin-top: 15px;
  box-shadow: -1px -1px #2d5372;
}

.sec-box > button > p {
  margin-top: 3px;
  color: #DDE8F0;
  font-size: 1.2em;
}

.box-content {
  background-image: url("./images/frame.png");
  background-size: cover;
  padding: 30px;
  /* border: 2px solid orange; */
}

.box-text > h1 {
  color: darkblue;
  font-family: sans-serif;
  margin-bottom: 15px;
  width: 60%;
}

.box-text > p {
  margin-bottom: 10px;
}

.box-text > p > span {
  font-weight: bold;
}

.box-buttons {
  margin-top: 25px;
  margin-bottom: 10px;
}

.box-buttons > img {
  margin-right: 20px;
}

footer {
  display: flex;
  justify-content: center;
  /* border: 5px solid blue; */
}

footer > div > a {
  text-decoration: none;
  color: #3A6890;
  margin-right: 10px;
  font-size: 0.8em;
}

footer p {
  font-size: 0.8em;
  color: lightgray;
}